In [27]:
import pandas  as pd
import numpy  as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [28]:
#1 data processing
#load data 
df =pd.read_csv("house_data.csv")

In [29]:
df.head()

,Size_sqft,Bedrooms,Bathrooms,YearBuilt,Price,Location_City,Location_Rural,Location_Suburb,HouseAge,Rooms_per_1000sqft,Size_per_Bedroom,Is_City,LogPrice
0,1.030281,-1.463643,0.088986,-1.279342,812100.0,1,0,0,1.279342,-1.061465,3.123085,1,13.607380
1,-0.482463,-1.463643,1.347506,1.326476,547000.0,1,0,0,-1.326476,-0.265637,1.309520,1,13.212206
2,0.468877,0.007430,-1.169534,-1.339942,693700.0,1,0,0,1.339942,-0.689547,-0.163970,1,13.449796
3,1.079817,0.742966,1.347506,-0.915740,848300.0,1,0,0,0.915740,-0.199111,-0.307614,1,13.650991
4,0.788954,1.478502,-1.169534,0.962873,806000.0,0,0,1,-0.962873,-0.311002,-0.610027,0,13.599840

In [30]:
df.info

<bound method DataFrame.info of     Size_sqft  Bedrooms  Bathrooms  YearBuilt     Price  Location_City  \
0    1.030281 -1.463643   0.088986  -1.279342  812100.0              1
1   -0.482463 -1.463643   1.347506   1.326476  547000.0              1
2    0.468877  0.007430  -1.169534  -1.339942  693700.0              1
3    1.079817  0.742966   1.347506  -0.915740  848300.0              1
4    0.788954  1.478502  -1.169534   0.962873  806000.0              0
..        ...       ...        ...        ...       ...            ...
94   0.326620  0.742966   0.088986  -0.370336  655100.0              0
95  -1.642107 -0.728107   0.088986   0.417469  292500.0              0
96   0.376156  0.007430  -1.169534  -0.673338  722400.0              1
97  -0.243676 -1.463643   0.088986   0.175068  535300.0              1
98   0.498090  1.478502   1.347506  -0.006733  688000.0              1

    Location_Rural  Location_Suburb  HouseAge  Rooms_per_1000sqft  \
0                0                0  1.279342           -1.061465
1                0                0 -1.326476           -0.265637
2                0                0  1.339942           -0.689547
3                0                0  0.915740           -0.199111
4                0                1 -0.962873           -0.311002
..             ...              ...       ...                 ...
94               1                0  0.370336           -0.102326
95               1                0 -0.417469            1.191731
96               0                0  0.673338           -0.659394
97               0                0 -0.175068           -0.732009
98               0                0  0.006733            0.325612

    Size_per_Bedroom  Is_City   LogPrice
0           3.123085        1  13.607380
1           1.309520        1  13.212206
2          -0.163970        1  13.449796
3          -0.307614        1  13.650991
4          -0.610027        0  13.599840
..               ...      ...        ...
94         -0.533358        0  13.392545
95         -0.775852        0  12.586223
96         -0.201023        1  13.490336
97          1.595792        1  13.190584
98         -0.679768        1  13.441546

[99 rows x 13 columns]>

In [31]:
df.shape

(99, 13)

In [32]:
df.isnull().sum()

Size_sqft             0
Bedrooms              0
Bathrooms             0
YearBuilt             0
Price                 0
Location_City         0
Location_Rural        0
Location_Suburb       0
HouseAge              0
Rooms_per_1000sqft    0
Size_per_Bedroom      0
Is_City               0
LogPrice              0
dtype: int64

In [33]:
x= df.drop(columns=["Price", "LogPrice"])
y=df["Price"]

In [34]:
x_train, x_test, y_train, y_test = train_test_split(x, y ,test_size=0.2 , random_state=42)

In [36]:
lr = LinearRegression()
rf = RandomForestRegressor(n_estimators=100, random_state=42)

lr.fit(x_train, y_train)
rf.fit(x_train, y_train)

lr_pred = lr.predict(x_test)
rf_pred = rf.predict(x_test)

#print(lr_pred[:30])

In [38]:
def print_metrics(name, y, y_preidct):
    r2= r2_score(y, y_preidct)
    mae = mean_absolute_error (y, y_preidct)
    mse = mean_squared_error(y, y_preidct)
    rmse = np.sqrt(mse)

    print(f"prediction of {name}")
    print(f"R2:  {r2:,.3f}")
    print(f"MAE: {mae:,.0f}")
    print(f"MSE: {mse:,.0f}")
    print(f"RMSE {rmse:,.0f}")

print_metrics("LR", y_test, lr_pred)
print_metrics("RF", y_test, rf_pred)

prediction of LR
R2:  0.848
MAE: 63,086
MSE: 5,718,940,941
RMSE 75,624
prediction of RF
R2:  0.859
MAE: 52,524
MSE: 5,283,317,455
RMSE 72,686

In [ ]:
i=0
x_one_df = x_test.iloc[[i]]
y_true = y_test.iloc[i]

p_lr_one = float(lr.predict(x_one_df)[0])
p_rf_one = float(rf.predict(x_one_df)[0])

print("sibgle row sanity check")

print(f"actual price of selected row: ${y_true:,.0f}")
print(f"LR prediction: ${p_lr_one:,.0f}")
print(f"Rf prediction: ${p_rf_one:,.0f}")

sibgle row sanity check
actual price of selected row: $642,500
LR prediction: $656,755
Rf prediction: $789,031