In [20]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [3]:
1#load the dataset
df=pd.read_csv("clean_house_l5_dataset.csv")

In [5]:
#the first 10 rows

In [6]:
df.head(10)

,Size_sqft,Bedrooms,Bathrooms,YearBuilt,Price,Location_City,Location_Rural,Location_Suburb,HouseAge,Rooms_per_1000sqft,Size_per_Bedroom,Is_City,LogPrice
0,1.030281,-1.463643,0.088986,-1.279342,812100.0,1,0,0,1.279342,-1.061465,3.123085,1,13.607380
1,-0.482463,-1.463643,1.347506,1.326476,547000.0,1,0,0,-1.326476,-0.265637,1.309520,1,13.212206
2,0.468877,0.007430,-1.169534,-1.339942,693700.0,1,0,0,1.339942,-0.689547,-0.163970,1,13.449796
3,1.079817,0.742966,1.347506,-0.915740,848300.0,1,0,0,0.915740,-0.199111,-0.307614,1,13.650991
4,0.788954,1.478502,-1.169534,0.962873,806000.0,0,0,1,-0.962873,-0.311002,-0.610027,0,13.599840
5,0.881674,0.007430,-1.169534,-1.339942,724400.0,1,0,0,1.339942,-0.805365,0.000992,1,13.493100
6,1.280500,1.478502,0.088986,-0.612737,715100.0,0,0,1,0.612737,-0.274025,-0.492168,0,13.480179
7,-0.266538,0.742966,-1.169534,-0.733938,547900.0,0,0,1,0.733938,-0.056450,-0.711136,0,13.213850
8,-0.802540,-0.728107,0.088986,-1.339942,516700.0,0,0,1,1.339942,-0.032310,-0.272591,0,13.155220
9,-1.263604,0.742966,1.347506,-1.036940,418600.0,1,0,0,1.036940,2.122592,-1.009971,1,12.944673

In [11]:
#2split fearures x and y
X = df.drop(columns=["Price", "LogPrice"])
y = df["Price"]

In [10]:
#3train/test
x_train, x_test,y_train, y_test=train_test_split(
    x,y,test_size=0.2 , random_state=42
)

In [25]:
#4train linear regration
lr = LinearRegression()
lr.fit(x_train, y_train)
lr_pred = lr.predict(x_test)

In [ ]:
#5 Train Random Forest

In [27]:
rf = RandomForestRegressor(n_estimators=100, random_state=42)
rf.fit(x_train, y_train)
rf_pred = rf.predict(x_test)

In [29]:
#6 prints metrics

def print_metrics(name, y_true, y_pred):
    """Print R², MAE, MSE, RMSE for a model's predictions."""
    r2  = r2_score(y_true, y_pred)
    mae = mean_absolute_error(y_true, y_pred)
    mse = mean_squared_error(y_true, y_pred)
    rmse = np.sqrt(mse)
    print(f"\n{name} Performance:")
    print(f"  R²   : {r2:.3f}")          
    print(f"  MAE  : {mae:,.0f}")        
    print(f"  MSE  : {mse:,.0f}")     
    print(f"  RMSE : {rmse:,.0f}")

In [30]:
#7 result models
print_metrics("Linear Regression", y_test, lr_pred)
print_metrics("Random Forest",   y_test, rf_pred)

Linear Regression Performance:
  R²   : 0.848
  MAE  : 63,086
  MSE  : 5,718,940,941
  RMSE : 75,624

Random Forest Performance:
  R²   : 0.859
  MAE  : 52,524
  MSE  : 5,283,317,455
  RMSE : 72,686

In [31]:
#8 single row prediction

f = 3
x_one_df = x_test.iloc[[f]]  
y_true   = y_test.iloc[f]   

p_lr_one = float(lr.predict(x_one_df)[0])
p_rf_one = float(rf.predict(x_one_df)[0])

print("Single-row sanity check ")
print(f"  Actual Price: ${y_true:,.0f}")
print(f"  LR Pred     : ${p_lr_one:,.0f}")
print(f"  RF Pred     : ${p_rf_one:,.0f}")

Single-row sanity check
  Actual Price: $554,800
  LR Pred     : $594,041
  RF Pred     : $557,028