In [ ]:
import pandas as pd

In [125]:
from sklearn.cluster import KMeans

In [6]:
from sklearn.preprocessing import StandardScaler

In [129]:
from sklearn.metrics import silhouette_score, davies_bouldin_score

In [32]:
CSV_Path= "spending_l9_dataset.csv"

In [36]:
df = pd.read_csv(CSV_Path)

In [40]:
df.head()

,CustomerID,Age,Income_$,SpendingScore,VisitsPerMonth,OnlinePurchases,Gender,Region
0,1,28,33,78,14,9,Female,East
1,2,21,25,87,8,23,Male,North
2,3,23,24,88,13,10,Male,South
3,4,24,25,73,16,11,Female,West
4,5,20,23,88,17,16,Male,West

In [42]:
Feature = ["Income_$", "SpendingScore"]

In [44]:
X = df[Feature].copy()

In [46]:
for col in Feature:
    if X[col].isna().any():
        X[col] = X[col].fillna(X[col].median())

In [50]:
X.head()

   Income_$  SpendingScore
0        33             78
1        25             87
2        24             88
3        25             73
4        23             88

In [52]:
scaler = StandardScaler()

In [54]:
X_scaled = scaler.fit_transform(X)

In [66]:
X_scaled.shape

(200, 2)

In [68]:
del print

In [70]:
for k in range(1, 10):
    km = KMeans(n_clusters=k, n_init="auto", random_state=42)
    km.fit(X_scaled)
    print(f"k={k} → SSE={km.inertia_:.2f}")

k=1 → SSE=400.00
k=2 → SSE=199.70
k=3 → SSE=79.37
k=4 → SSE=21.37
k=5 → SSE=19.09
k=6 → SSE=15.65
k=7 → SSE=14.48
k=8 → SSE=13.81
k=9 → SSE=12.94

C:\Users\MyLearning\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\MyLearning\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\MyLearning\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\MyLearning\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\MyLearning\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\MyLearning\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\MyLearning\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\MyLearning\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(
C:\Users\MyLearning\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [127]:
K = 4

In [82]:
kmeans = KMeans(n_clusters=K, n_init="auto", random_state=42)

In [84]:
labels = kmeans.fit_predict(X_scaled)

C:\Users\MyLearning\anaconda3\Lib\site-packages\sklearn\cluster\_kmeans.py:1429: UserWarning: KMeans is known to have a memory leak on Windows with MKL, when there are less chunks than available threads. You can avoid it by setting the environment variable OMP_NUM_THREADS=1.
  warnings.warn(

In [86]:
df["Cluster"] = labels.astype(int)

In [101]:
# print(df.head(60))

In [103]:
silh = silhouette_score(X_scaled, labels)

In [105]:
dbi = davies_bouldin_score(X_scaled, labels)

In [111]:
print(f"Silhouette Score : {silh:.3f} (higher is better sep)")
print(f"Davies–Bouldin   : {dbi:.3f} (lower is better sep)")

Silhouette Score : 0.729 (higher is better sep)
Davies–Bouldin   : 0.387 (lower is better sep)

In [113]:
cent_scaled = kmeans.cluster_centers_

In [115]:
cent_original = scaler.inverse_transform(cent_scaled)

In [119]:
centers_df = pd.DataFrame(cent_original, columns=Feature)

In [121]:
centers_df.index.name = "Cluster"

In [123]:
print(centers_df.round(2))

         Income_$  SpendingScore
Cluster
0           56.32          53.58
1           28.92          19.60
2           24.14          83.10
3           99.16          79.24

In [ ]:
sample= [2, 3, 4]

In [133]:
sanity = df.loc[sample, Feature + ["Cluster"]]

In [135]:
print(sanity)

   Income_$  SpendingScore  Cluster
2        24             88        2
3        25             73        2
4        23             88        2

In [143]:
OUT_PATH = "spending_labeled_clusters.csv"

In [145]:
df.to_csv(OUT_PATH, index=False)

In [147]:
print(OUT_PATH)

spending_labeled_clusters.csv