In [5]:
import  pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score, davies_bouldin_score

In [6]:
df = pd.read_csv('spending_l9_dataset.csv')
df.head()

,CustomerID,Age,Income_$,SpendingScore,VisitsPerMonth,OnlinePurchases,Gender,Region
0,1,28,33,78,14,9,Female,East
1,2,21,25,87,8,23,Male,North
2,3,23,24,88,13,10,Male,South
3,4,24,25,73,16,11,Female,West
4,5,20,23,88,17,16,Male,West

In [7]:
FEATURES = ['Income_$', 'SpendingScore']
X = df[FEATURES].copy()

In [9]:

scaler = StandardScaler()
X_scaled = scaler.fit_transform(X)

In [10]:
for k in range(1, 10):
    km = KMeans(n_clusters=k, random_state=42)
    km.fit(X_scaled)
    print(f'k = {k} -> SSE = {km.inertia_:.2f}')

k = 1 -> SSE = 400.00
k = 2 -> SSE = 199.70
k = 3 -> SSE = 79.37
k = 4 -> SSE = 21.37
k = 5 -> SSE = 19.09
k = 6 -> SSE = 15.65
k = 7 -> SSE = 14.48
k = 8 -> SSE = 13.81
k = 9 -> SSE = 12.94

In [11]:
k = 4
kmeans = KMeans(n_clusters=k, random_state=42)
labels = kmeans.fit_predict(X_scaled)

In [27]:
df['cluster'] = labels.astype(int)
print("\n------------------SAMPLE WITH CLUSTERS------------------")
df.head(50)

------------------SAMPLE WITH CLUSTERS------------------

,CustomerID,Age,Income_$,SpendingScore,VisitsPerMonth,OnlinePurchases,Gender,Region,cluster
0,1,28,33,78,14,9,Female,East,2
1,2,21,25,87,8,23,Male,North,2
2,3,23,24,88,13,10,Male,South,2
3,4,24,25,73,16,11,Female,West,2
4,5,20,23,88,17,16,Male,West,2
5,6,23,22,80,19,21,Female,West,2
6,7,22,16,96,9,19,Female,West,2
7,8,18,26,86,16,22,Female,West,2
8,9,26,23,98,17,15,Male,South,2
9,10,24,29,81,16,17,Male,West,2
10,11,21,22,82,11,12,Female,South,2
11,12,22,14,87,15,16,Male,West,2
12,13,24,23,93,19,20,Female,South,2
13,14,22,32,89,9,16,Male,East,2
14,15,22,22,75,15,20,Female,South,2
15,16,18,19,86,17,15,Male,East,2
16,17,24,18,85,11,15,Male,South,2
17,18,23,18,81,15,18,Female,North,2
18,19,23,22,79,10,17,Male,East,2
19,20,18,18,98,11,20,Male,East,2
20,21,27,31,81,11,18,Female,South,2
21,22,23,22,78,14,26,Female,North,2
22,23,21,24,90,13,16,Female,East,2
23,24,29,31,86,16,16,Male,West,2
24,25,22,31,84,11,12,Female,South,2
25,26,18,22,91,13,18,Female,North,2
26,27,21,25,88,16,21,Female,North,2
27,28,18,27,87,15,14,Female,North,2
28,29,26,23,92,10,17,Male,North,2
29,30,21,15,87,15,21,Male,South,2
30,31,20,27,80,12,17,Male,West,2
31,32,26,28,82,15,15,Female,South,2
32,33,18,26,80,14,22,Female,East,2
33,34,24,19,86,17,18,Male,West,2
34,35,18,23,76,14,19,Male,South,2
35,36,21,21,70,8,23,Male,South,2
36,37,19,22,85,9,23,Female,East,2
37,38,27,30,74,16,16,Female,North,2
38,39,28,31,69,13,15,Male,South,2
39,40,22,27,87,17,19,Male,South,2
40,41,25,26,79,14,17,Female,East,2
41,42,22,27,88,11,8,Female,East,2
42,43,24,23,80,17,24,Female,East,2
43,44,20,23,76,11,18,Female,East,2
44,45,18,20,75,7,21,Male,East,2
45,46,18,23,80,20,12,Male,West,2
46,47,24,35,82,8,24,Female,West,2
47,48,29,28,78,15,15,Female,South,2
48,49,23,22,82,16,17,Female,South,2
49,50,21,21,72,14,10,Male,West,2

In [18]:
shs = silhouette_score(X_scaled, labels)
dbi = davies_bouldin_score(X_scaled, labels)
print("\n------------------METRICS-------------------")
print(f"Silhouette Score : {shs:.3f} (closer to +1 is better)")
print(f"Davies–Bouldin   : {dbi:.3f} (lower is better)")

------------------METRICS-------------------
Silhouette Score : 0.729 (closer to +1 is better)
Davies–Bouldin   : 0.387 (lower is better)

In [21]:
centers_scaled = kmeans.cluster_centers_
centers_original = scaler.inverse_transform(centers_scaled)
df_centers = pd.DataFrame(centers_original, columns=FEATURES)
df_centers.index.name = 'Cluster'

In [22]:
print("\n------------------CLUSTER CENTERS (Original Units)------------------")
df_centers.round(2)

------------------CLUSTER CENTERS (Original Units)------------------

         Income_$  SpendingScore
Cluster
0           56.32          53.58
1           28.92          19.60
2           24.14          83.10
3           99.16          79.24

In [32]:
sample_idx = [4, 50, 100]  
sanity = df.loc[sample_idx, FEATURES + ["cluster"]]
print("\n------------------3 SANITY CHECKS------------------")
print(sanity)

------------------3 SANITY CHECKS------------------
     Income_$  SpendingScore  cluster
4          23             88        2
50         60             73        0
100        32             20        1

In [33]:
df.to_csv('spending_labeled_clusters.csv', index=False)